.SCollectioncontainer {
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  padding: 20px;
  flex-wrap: wrap;

}

.Schart-container {
  display: flex;
  flex-direction: row; 
  margin: 0 10px; 
  width: auto;

}

.Sdonutcontainer {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 300px;
  width: 51em;
  display: flex;
  margin-left: -18px;

}
.donuttitle{
  padding:20px 20px;
  margin-left: 15px;
}

.barcontainer{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}
.barcontainer h4{
  padding: 20px;
  width: 100%;
}
h4 {
  margin-bottom: 10px; 
  font-size: 16px; 
  font-weight: bold;
}

#S1{
  margin-left: 50px;
  margin-top: -60px;
}
#S2{
  margin-right: 100px;
  margin-bottom: -100px;
  margin-top: 29px;
  z-index: 1;
}
.segtodaybarchart1{
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 19em;
  width: 24em;
  background-color: white;
  margin-left: -100px;
  margin-top: -1px;
  padding: 0px;

}
#segtitle2{
  padding: 20px;
}
#STtitle{
  width: 100%;
}

.Sradiallchart{
  margin-top: 20px;
  margin-left: -8px;
}
.STradialtitle{
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  padding-top: 20px;
}

.SMbarcontainer{
  margin-left: 120px;
  width: 2em;
}
.Stitle{
  display: flex;
  flex-direction: row;
}
/* 2xl */
@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {
  .SCollectioncontainer{
    display: flex;
    flex-direction: column; 
  }
  .SCollectioncontainer .Schart-container {
    display: flex;
    flex-direction: column;
  }
  .SMbarcontainer{
    margin-top: 30px;
    margin-left: 80px;
  }
}

/* lg */
@media (max-width: 1024px) {
    
}

/* md */
@media (max-width: 768px) {

    
}