.AttendNavbar{
    margin-left: 20%;
    box-sizing: border-box;
}
.AttendNavbar ul{
    list-style: none;
    display: flex;
    padding-top: 20px;
}
.AttendNavbar ul li{
    padding: 10px 20px;
    text-decoration: none;
}
.AttendNavbar ul a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.AttendNavbar li .active {
    text-decoration: underline;
}