.Collectioncontainer {
}

.Collectioncontainer .chart-container {
    align-items: center;
    justify-content: center;
    margin: 0 10px; 
    margin-left: -10px ;   
}

.donutcontainer {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 23em;
    width: 30em;
}
.chart-container {
    display: flex;
    flex-direction: column;
}
.donuttitle{
    padding:20px 20px;
    margin-left: 15px;
}

.barcontainer{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 23em;
    width: 35em;
    margin-left: -3.5em;

}
.barcontainer h4{
    padding: 20px;
    width: 100%;
}
h4 {
    margin-bottom: 10px; 
    font-size: 16px; 
    font-weight: bold;
}
.Collectionlefttitle{
    display: flex;
}
.Collectionicons{
    display: flex;
}
.Collectionicons button{
    border: none;
    background-color: white;
    font-size: 32px;
    color: #666666;
    padding: 10px;
}
.Collectionicons button:hover{
    color: #086972 ;
    cursor: pointer;
    font-size: 35px;
}

.Collectionicons #but1.active,.Collectionicons #but2.active {
    background-color: #086972;
    color: white;
}


/* 2xl */
@media (max-width: 1536px) {
    .chart-container  {
        display: flex;
        flex-direction: column !important;
    }
    .barcontainer{
        margin-left: -100px;
        margin-right: 82px;
    }

}
/* xl */
@media (max-width: 1280px) {
    .Collectioncontainer .chart-container {
        display: flex;
        flex-direction: column; 
    }
    .Collectioncontainer {        
        display: flex;
        flex-direction: column; 
    }
    .donutcontainer {
        margin-left: -8.3em;
    }
    .barcontainer{
        margin-left: -100px;
    }
}
/* lg */
@media (max-width: 1024px) {
    .chart-container{
        display: flex;
        flex-direction: column; 
    }

}
@media (max-width: 768px) {
    .chart-container{
        display: flex;
        flex-direction: column; 
    }
}